.wrap_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 0;
}

.wrap_header .left img {
    width: 90px;
}

.menu_button {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: rgb(75, 75, 75);
    user-select: none;
}

.menu_button i {
    font-size: 30px;
}

.menu_button span {
    font-size: 20px;
    padding-right: 5px;
}