.wrap_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0px 2px 4px rgba(174, 174, 174, 0.18);
}

.wrap_header .left img {
    width: 170px;
}

.menu_button {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: rgb(75, 75, 75);
    user-select: none;
    margin-right: 25px;
    position: relative;
    text-decoration: none;
}

.menu_button_post_now {
    cursor: pointer;
    user-select: none;
    margin-right: 25px;
    text-decoration: none;
}

.menu_button_post_now div:first-child {
    color: gray;
    font-size: 13px;
    padding-bottom: 5px;
}

.menu_button_post_now div:last-child {
    font-size: 15px;
    background-color: rgb(0, 171, 66);
    display: inline-block;
    padding: 7px 15px;
    color: white;
    border-radius: 5px;
}

.menu_button_post_now div:last-child span {
    padding-left: 5px;
}

.register {
    border: 1px solid rgb(162, 162, 162);
    padding: 7px 15px;
    border-radius: 5px;
}

.menu_button:last-child {
    margin-right: 0;
}

.menu_button i {
    font-size: 30px;
}

.menu_button span.count {
    position: absolute;
    width: 15px;
    height: 15px;
    z-index: 2;
    border-radius: 999px;
    top: 0;
    right: 0;
    background-color: rgb(181, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 10px;
    transform: translate(50%, -50%);
}

.menu_button span.text {
    font-size: 20px;
    padding-right: 2px;
}

.left {
    display: flex;
    align-items: center;
}

.left .brand_logo {
    padding-right: 20px;
}

.right {
    display: flex;
    align-items: center;
}

.fast_menu {
    display: flex;
}

.fast_menu_item {
    position: relative;
    margin: 0 15px;
}

.fast_menu_item a {
    display: inline-block;
    padding: 10px 0;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: rgb(43, 43, 43);
}

.fast_menu_item::before {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    background-color: rgb(0 190 171);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: .3s;
}

.fast_menu_item:hover::before,
.fast_menu_item.active::before {
    width: 100%;
}

.notification_mobile {
    display: none;
}

@media screen and (max-width: 1189px) {
    .fast_menu_item {
        margin: 0 10px;
    }
    .fast_menu_item a {
        font-size: 13px;
    }
}

@media screen and (max-width: 1050px) {
    .fast_menu {
        display: none;
    }
}

@media screen and (max-width: 568px) {
    .menu_button_post_now {
        display: none;
    }
    .notification_mobile {
        display: block;
    }
    .notification_desktop {
        display: none;
    }
}

@media screen and (max-width: 375px) {
    .menu_button {
        margin-right: 15px;
        font-size: 14px;
    }
    .menu_button i {
        font-size: 25px;
    }
    .register {
        display: none;
    }
    .login {
        margin-right: 0;
    }
}

@media screen and (max-width: 420px) {
    .wrap_header .left img {
        width: 130px;
    }
    .left .brand_logo {
        padding-right: 0;
    }
}