.hostel_detail {
    padding-bottom: 30px;
}

.product_name {
    font-size: 20px;
    padding: 15px 0 10px 0;
    color: rgb(54, 54, 54);
}

.price {
    font-size: 25px;
    font-weight: 700;
    color: #089f57;
    padding-bottom: 10px;
}

@media screen and (max-width: 570px) {
    .product_name {
        font-size: 17px;
    }
    .price {
        font-size: 17px;
        padding-bottom: 0;
    }
}

.button_bar {
    padding: 15px 0 20px 0;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 625px) {
    .button_bar {
        flex-direction: column;
    }

    .other_button {
        padding-top: 15px;
    }
}

@media screen and (max-width: 440px) {
    /* .wrap_main_button {
        display: flex;
        column-gap: 15px;
        flex-direction: column;
    }
    .wrap_main_button button {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    } */
}

.desc_booking {
    padding-top: 15px;
    font-size: 14px;
    font-style: italic;
    color: rgb(162, 162, 162);
    font-weight: 300;
}

.wrap_avatar {
    border-top: 1px solid rgb(240, 240, 240);
    border-bottom: 1px solid rgb(240, 240, 240);
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.created_at {
    font-size: 15px;
    color: rgb(62, 62, 62);
}