.main_slider .slider_item {
    width: 100%;
    aspect-ratio: 10/5;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.main_slider .slider_item img {
    height: 100%;
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

.main_slider .slider_bg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    filter: blur(20px);
    transform: scale(1.2);
}

.main_slider .slider_bg img {
    width: 100%;
    height: 100%;
}

.thumb_slider {
    width: 100%;
    padding-top: 15px;
}

.thumb_slider .thumb_slider_item {
    width: 100%;
    aspect-ratio: 10/7;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
}

.thumb_slider .thumb_slider_item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hostel_detail {
    padding-bottom: 30px;
}