.hostel_detail {
    padding-bottom: 30px;
}

.product_name {
    font-size: 20px;
    padding: 15px 0 10px 0;
    color: rgb(54, 54, 54);
}

.price {
    font-size: 25px;
    font-weight: 700;
    color: #089f57;
    padding-bottom: 10px;
}

@media screen and (max-width: 570px) {
    .product_name {
        font-size: 17px;
    }
    .price {
        font-size: 17px;
        padding-bottom: 0;
    }
}

.button_bar {
    padding: 15px 0 20px 0;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 625px) {
    .button_bar {
        flex-direction: column;
    }

    .other_button {
        padding-top: 15px;
    }
}

.wrap_avatar {
    border-top: 1px solid rgb(240, 240, 240);
    border-bottom: 1px solid rgb(240, 240, 240);
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.created_at {
    font-size: 15px;
    color: rgb(62, 62, 62);
}

@media screen and (max-width: 540px) {
    .wrap_avatar {
        flex-direction: column;
        align-items: start;
    }

    .created_at {
        padding-top: 25px;
    }
}

.other_search {
    padding-bottom: 30px;
}

.wrap_main_button {
    display: flex;
    gap: 10px;
}

@media screen and (max-width: 408px) {
    .wrap_main_button {
        flex-direction: column;
        gap: 5px;
    }
}