.select, .input {
    width: 60%;
}

@media screen and (max-width: 500px) {
    .select, .input {
        width: 100%;
    }
}

.calendar_picker {
    display: flex;
}

.preview_calendar {
    width: 30%;
}