.select_box_list {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.filter_form {
    position: relative;
}
.recovery_filter_btn {
    background-color: rgb(245, 245, 245);
    border: none;
    outline: none;
    padding: 0 20px;
    cursor: pointer;
    border-radius: 10px;
    user-select: none;
}

.recovery_filter_btn span:first-child {
    padding-right: 5px;
}

.recovery_filter_btn:hover {
    background-color: rgb(232, 232, 232);
}