.selector_box {
    display: inline-block;
    padding: 10px 15px;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    color: rgb(78, 78, 78);
}

.selector_box span:first-child {
    font-size: 15px;
    font-weight: 400;
    padding-right: 10px;
}

.active {
    background-color: rgb(0, 142, 92);
    color: white;
    border: none;
}