.menu_item_wrap {
    text-decoration: none;
}

.menu_item {
    display: flex;
    align-items: center;
    padding: 12px 15px;
    text-decoration: none;
    font-style: normal;
}

.menu_item:hover {
    background-color: rgb(246, 246, 246);
}

.menu_item .icon {
    font-size: 20px;
    color: rgb(66, 66, 66);
    width: 40px;
    text-align: center;
    margin-right: 7px;
}

.menu_item .text {
    font-size: 16px;
    font-weight: 300;
    color: rgb(66, 66, 66);
}