.input {
    width: 100%;
}

.buttons {
    text-align: center;
}

.button {
    width: 200px;
    height: 40px;
    cursor: pointer;
    border:none;
    outline: none;
    background-color: #008e3e;
    border-radius: 4px;
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    transition: .3s;
}

.button:hover {
    background-color: #005826;
}

.button .button_text {
    padding-right: 10px;
}

.title {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 25px;
}

.form {
    padding-bottom: 50px;
}
