.best_area_box {
    border-radius: 10px;
    background-color: rgb(247, 247, 247);
    padding: 15px;
}

.title {
    font-weight: 500;
}

.list {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

@media screen and (max-width: 630px) {
    .list {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 375px) {
    .list {
        grid-template-columns: 1fr;
    }
}

.item {
    cursor: pointer;
    display: flex;
    align-items: center;
    user-select: none;
}

.item:hover span:first-child{
    color: rgb(0, 121, 213);
}

.item span:first-child {
    padding-right: 7px;
    font-size: 15px;
    color: rgb(66, 66, 66);
}

.item span:last-child {
    font-size: 10.5px;
    padding: 3px 7px;
    background-color: #ffeeee;
    color: #da0028;;
    border-radius: 999px;
}