.star_rate {
    text-align: center;
}

.form_rate {
    padding-top: 20px;
}

.text_star {
    font-size: 14px;
    font-weight: 500;
    padding-top: 15px;
}

.buttons_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}