.preview_range {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(67, 67, 67);
    font-size: 17px;
    padding-bottom: 15px;
}

.input_range {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hand_input {
    width: 45%;
    text-align: center;
}

.price_slider_wrapper {
    width: 90%;
    margin: auto;
    padding-top: 10px;
}
