
.acreage_input {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hand_input {
    width: 45%;
    height: 40px;
    text-align: center;
    border: 1px solid rgb(205, 205, 205);
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    color: rgb(46, 46, 46);
}

.radio_list {
    padding-top: 15px;
    display: grid;
    grid-template-columns: 1fr;
}

.radio_item *{
    cursor: pointer;
}

.radio_item {
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.radio_item span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
}

.radio_item input {
    font-size: 35px;
    width: 17px;
    height: 17px;
}

.radio_item label {
    font-size: 17px;
}

.acreage_slider {
    width: 90%;
    margin: auto;
    padding-top: 10px;
}