.menu_item_wrap {
    text-decoration: none;
    cursor: pointer;
}

.menu_item {
    display: flex;
    align-items: center;
    padding: 12px 15px;
    text-decoration: none;
    font-style: normal;
    position: relative;
}

.counter {
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
    right: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: white;
}

.menu_item:hover {
    background-color: rgb(246, 246, 246);
}

.menu_item .icon {
    font-size: 20px;
    color: rgb(66, 66, 66);
    width: 40px;
    text-align: center;
    margin-right: 7px;
}

.menu_item .text {
    font-size: 16px;
    font-weight: 300;
    color: rgb(66, 66, 66);
}