.product_item_link {
    text-decoration: none;
}

.product_item {
    display: flex;
    user-select: none;
    border-radius: 10px;
    overflow: hidden;
    padding: 15px 0;
}

.count_img_num {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.591);
    padding: 4px 10px;
}

.count_img_num span:first-child {
    padding-right: 5px;
}

.left_card {
    width: 27%;
}

.wrap_img {
    aspect-ratio: 10/7;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

.left_card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right_card {
    width: 83%;
    padding-left: 15px;
    position: relative;
}

.product_name {
    font-weight: 500;
    color: rgb(60, 60, 60);
    padding-bottom: 10px;
    line-height: 1.4;
    font-size: 17px;
}

.price {
    font-size: 18px;
    color: rgb(0, 147, 0);
    font-weight: 700;
    padding-bottom: 10px;
}

.product_info_item {
    font-size: 15px;
    color: rgb(105, 105, 105);
    padding-bottom: 5px;
}

.product_info_item span:first-child {
    display: inline-block;
    width: 35px;
    text-align: center;
}

.like_btn {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    border: 1px solid rgb(216, 216, 216);
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.like_btn button {
    font-size: 15px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    color: rgb(149, 0, 0);
}

@media screen and (max-width: 910px) {
    .left_card {
        width: 33%;
    }
    .right_card {
        width: 67%;
    }
}

@media screen and (max-width: 595px) {
    .product_name {
        padding-bottom: 2px;
        font-size: 15px;
    }
    .price {
        font-size: 15px;
        padding-bottom: 3px;
    }
    .product_info_item {
        font-size: 14px;
    }
    .product_info_item_rooms,
    .product_info_item_address span:first-child,
    .product_info_item_acreage {
        display: none;
    }
    .like_btn {
        bottom: 0;
    }
}

@media screen and (max-width: 455px) {
    .left_card {
        width: 40%;
    }
    .right_card {
        width: 60%;
    }
    .product_name {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
                line-clamp: 1; 
        -webkit-box-orient: vertical;
    }
    .product_info_item_address {
        font-size: 13px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
                line-clamp: 2; 
        -webkit-box-orient: vertical;
        padding: 0;
    }
}