.wrap_select {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
}

.select {
    border: none;
    outline: none;
}

@media screen and (max-width: 425px) {
    .wrap_select {
        grid-template-columns: 1fr;
        grid-column-gap: 5px;
    }
}