.wrap_main {
    position: relative;
}

.main {
    position: relative;
    z-index: 2;
    padding: 15px;
}

.group_search {
    width: 300px;
    margin-left: auto;
    padding-top: 20px;
    padding-bottom: 15px;
}

.title_big {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(2 145 7);
}

.title_sub {
    font-size: 16px;
    color: rgb(38 98 44);
    line-height: 1.4;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    border-bottom: 1px solid rgb(241, 241, 241);
}

.item>div:nth-child(1) {
    width: 30%;
    font-weight: 500;
    color: rgb(0, 104, 35);
}

.item>div:nth-child(2) {
    width: 30%;
}

.item>div:nth-child(2) span:last-child {
    font-weight: 500;
}

.item>div:nth-child(3) {
    font-size: 15px;
}

.item:last-child {
    border-bottom: 0;
}

.grow_icon {
    padding: 0 10px;
}

.grow_icon_down {
    color: rgb(0, 179, 0);
}

.grow_icon_up {
    color: rgb(205, 0, 0);
}

.header_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    z-index: 0;
    opacity: .5;
}

.header_bg img {
    width: 100%;
    height: 100%;
}

.wrap_list {
    padding-top: 50px;
}

@media screen and (max-width: 768px) {
    .title_big {
        font-size: 20px;
        padding-bottom: 5px;
    }    
}