/* Swiper */
.thumb-slider-fade .swiper-slide {
    opacity: .5;
}

.thumb-slider-fade .swiper-slide-thumb-active {
    opacity: 1!important;
}

.slider-navigation-sm .swiper-button-prev:after,
.slider-navigation-sm .swiper-button-next:after{
    font-size: 20px;
}

/* Verify input */
.verify-input {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.verify-input input {
    height: 40px;
    width: 50px!important;
    outline: none;
    border: 1px solid rgb(198, 198, 198);
    border-radius: 5px;
    font-size: 17px;
}
.verify-input span {
    display: inline-block;
    padding: 0 5px;
}

/* default-text */
.default-text {
    color: rgb(44, 44, 44);
    line-height: 1.5;
    font-size: 16px;
}

/* margin */
.mb-5px {
    margin-bottom: 5px;
}
.mb-10px {
    margin-bottom: 10px;
}
.mb-15px {
    margin-bottom: 15px;
}

/* Paginate */
.paginate-md button,
.paginate-md div {
    width: 35px;
    height: 35px;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 0;
    margin: 0;
    padding: 0;
    border-left: 0;
    transition: .1s;
}
.paginate-md div {
    padding-top: 3px;
}
.paginate-md li:first-child button {
    border-left: 1px solid rgb(219, 219, 219);
}
.paginate-md button:hover {
    background-color: rgb(35, 35, 35)!important;
    color: white;
}
.paginate-md .Mui-selected {
    background-color: rgb(35, 35, 35);
    color: white;
}

.paginate-md .handle-item {
    padding: 0;
    border: none;
}

.paginate-md .handle-item a {
    border: 1px solid rgb(35, 35, 35);
    color: rgb(35, 35, 35);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 100%;
    border-right: 0;
    transition: .1s;
}

.paginate-md .handle-item a:hover {
    background-color: rgb(35, 35, 35);
    color: white;
}

.paginate-md .handle-item:last-child a {
    border-right: 1px solid rgb(35, 35, 35)!important;
}

.paginate-md .handle-item.dot {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(35, 35, 35);
    border-right: 0;
}

.paginate-md .handle-item.active {
    background-color: rgb(35, 35, 35);
    
}

.paginate-md .handle-item.active a {
    color: white;
}