/* Datepicker */
.date-picker-1 .react-datepicker__day,
.date-picker-1 .react-datepicker__day-name {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
