/**err-msg**/
.err-msg {
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 10px;
    font-style: italic;
    color: rgb(216, 0, 0);
    white-space: pre-line;
}

/**label**/
.label {
    font-size: 15px;
    padding-bottom: 5px;
    color: rgb(33, 33, 33);
}
.label span {
    color: rgb(223, 0, 0);
}
.label-block {
    display: block;
}

/**label-group**/
.label-group {
    display: flex;
    align-items: center;
    padding-bottom: 7px;
}
.label-group:last-child {
    padding-bottom: 0;
}
.label-group * {
    cursor: pointer;
    user-select: none;
}
.label-group label {
    font-size: 15px;
    padding-left: 10px;
    color: rgb(33, 33, 33);
}

/**input**/
.input {
    height: 40px;
    padding: 0 10px;
    font-size: 15px;
    color: rgb(50, 50, 50);
    border: none;
    outline: none;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 5px;
}

/**select**/
.select {
    height: 40px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 5px;
    outline: none;
    padding: 0 10px;
    font-size: 15px;
}
.select option {
    font-size: 15px;
}

/**form group**/
.form-group {
    padding-bottom: 15px;
}

/**checkbox**/
.checkbox-md {
    width: 15px;
    height: 15px;
    cursor: pointer;
}

/**radio**/
.radio-md {
    width: 15px;
    height: 15px;
    cursor: pointer;
}

/**textarea**/
.textarea {
    padding: 10px;
    font-size: 15px;
    color: rgb(50, 50, 50);
    border: none;
    outline: none;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
}

/**scrollbar**/
.scrollbar::-webkit-scrollbar {
    width: 4px;
}
.scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 999px;
    margin-top: 10px;
}
.scrollbar::-webkit-scrollbar-thumb {
    background: #d9d9d9;
    border-radius: 999px;
}
.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.scrollbar-none::-webkit-scrollbar {
    width: 0;
}

/**input button**/
.input-button {
    padding: 10px 20px;
    outline: none;
    border: none;
    cursor: pointer;
    user-select: none;
    border-radius: 5px;
    font-size: 15px;
}
.input-button.active,
.input-button:hover {
    background-color: rgb(0, 158, 105);
    color: white;
}

@media screen and (max-width: 600px) {
    .input-button {
        padding: 7px 10px;
        font-size: 14px;
    }
}

/* calendar */
.calendar .react-calendar__navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.calendar .react-calendar__navigation__prev2-button,
.calendar .react-calendar__navigation__next2-button {
    display: none;
}

.calendar .react-calendar__navigation__prev-button,
.calendar .react-calendar__navigation__next-button {
    font-size: 30px;
    width: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.calendar .react-calendar__navigation__label {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 17px;
    text-transform: capitalize;
    font-weight: bold;
}

.calendar .react-calendar__month-view__weekdays__weekday {
    color: rgb(114, 114, 114);
    padding-bottom: 15px;
}

.calendar .react-calendar__month-view__weekdays__weekday abbr {
    text-decoration: none;
}

.calendar .react-calendar__tile {
    border: 1px solid white;
    outline: none;
    cursor: pointer;
    padding: 10px;
}

.calendar .react-calendar__tile--active {
    background-color: rgb(0, 161, 64);
    color: white;
}
