.filter_address {
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
}

@media screen and (max-width: 566px) {
    .filter_address {
        display: block;
        height: 350px;
    }

    .group_search {
        padding-bottom: 20px;
    }
}

.select {
    cursor: pointer;
}

.group_search label {
    color: rgb(89, 89, 89);
    padding-bottom: 10px;
    display: inline-block;
    font-size: 14px;
}